*{
    margin: 0;
    padding: 0;
}
.body{
    width: 1512px;
    height: 982px;
    }
.games_cards{
   height: 99vh;
    background: #FFF;
    gap: 132px;
    display:  flex;
    justify-content: center;
    align-items: center;
    }

.joystick_card{
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    margin-bottom: 221px;
    margin-left: 145px;
    position: relative;
      }
.chess_card{
    width: 321px;
    height: 491px;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    margin-bottom: 221px;
    position: relative;
    }

.battle_card{
    width: 321px;
    height: 491px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    margin-top: 270px;
    margin-bottom: 221px;
    margin-right: 142px;
    position: relative;
    }
.games_cards h3{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 200px;
    left: 100px;
    }
.games_cards p{
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 211px;
    position: absolute;
    top: 250px;
    left: 50px;
    }

.circle1{
    position: absolute;
    top: -50px;
    left: 100px;
        }

.circle2{
    position: absolute;
    top: -50px;
    left: 100px;
}
.img_game{
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 120px;
    }