*{
    margin: 0;
    padding: 0;
}
.head{
    background: #ec1515;
    height: 4.48vh;

}
.foot{
    background: #AFA9A9;
    height: 11.91vh;
}

.section_main{
    height: 73.67vh;
    display: flex;
}

.vertiсal_section1{
    background: #A4A4A4;
    width: 25%;
}
.vertiсal_section2{
    background: #00ff33;
    width: 25%;
}

.section_main_2boxes{
    width: 50%;
}
.box_1{
    width: 100%;
    height: 54.07%;
    background: #7F7A7A;
}
.box_2{
    width: 100%;
    height: 45.93%;
    background: #615050;
}


