.container{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.domino{
    width: 30px;
    height: 300px;
    margin: 100px auto auto auto ;
    animation: domino 3s linear 3 alternate;
    background-color: black;
}
@keyframes domino {
    0% {}
    50% {rotate: 80deg;}
    100% {}
}
