*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 25px;
    line-height: 24px;
    }

.section1{
    background-color: #b16a55;
   }

.section2{
    background-color: #5ee3db;
    }

.section3{
    background-color: mediumseagreen;
    }