*{
    margin: 0;
    padding: 0;
}

div{

}
section{
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: center;
       }

.section1{
    background-color: #b16a55;
   }

.section2{
    background-color: #5ee3db;
    }

.section3{
    background-color: mediumseagreen;
    }