*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 2214px;
    }
header{
    height: 113px;
    width: 100vw;
    background: #24204A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
      }

.upper_part{
    height: 579px;
    width: 100vw;
    background: #24204A;

}
.middle_part{
    height: 764px;
    width: 100vw;
    background: #071341;
}
.maps{
    height: 664px;
    width: 100vw;
    object-fit: cover;
}

footer{
    width: 100vw;
    height: 94px;
    background-color: #071341;
}

.logo{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    margin-left: 115px;
    }
.link_menu{
    display: flex;
    justify-content: center;
    margin-right: 115px;
}

.link_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.link_menu li {
    flex: 1;
    text-align: center;
}

.link_menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
}
.title{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: var(--1, #8E88C1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.8px;
    }
.sub_title{
    width: 261px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-top: 32px;
}
.sub_text{
    width: 570px;
    height: 85px;
    flex-shrink: 0;
    color: var(--1, #8E88C1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.8px;
    margin-top: 32px;
}
.button_about{
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.20);
    margin-top: 32px;
}
.img_led_lamp_photo{
    width: 375px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    }
.left_section{
    width: 1400px;
    height: 2214px;
    background: #24204A;
    margin-left: 115px;
      }