*{
    margin: 0;
    padding: 0;
}

.main{
    width: 63vw;
    height: 2214px;
    margin: 0 auto;
    }
header{
    height: 113px;
    width: 1400px;
    background-color: #204a22;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper_part{
    height: 579px;
    width: 1400px;
    background: #24204A;
}
.middle_part{
    height: 764px;
    width: 1400px;
    background: #071341;
}
.maps{
    height: 664px;
    width: 1400px;
    object-fit: cover;
}

footer{
    width: 1400px;
    height: 94px;
    background-color: #071341;
}

.logo{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    margin-left: 115px;
    }
.link_menu{
    display: flex;
    justify-content: center;
    margin-right: 115px;
}

.link_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.link_menu li {
    flex: 1;
    text-align: center;
}

.link_menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}