body{
    background-color: rgb(2,139,139);
}
.Enter_form{
background-color: rgb(255,255,255);
    width: 1000px;
    height: 700px;
    margin: 100px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.title{
    background-color: rgb(233,243,243);
    height:  200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 60px;
}
.login_form{
    margin: 25px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password_form{
    margin: 25px auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    width: 70%;
    height: 45px;
}
#email{
    width: 70%;
    height: 45px;
}
#password{
    width: 70%;
    height: 45px;
}
.save_info_for_my{
    font-size: 30px;
}
.button_submit{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(233,243,243);
    margin-left: 310px;
}
input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px;
}