.load{
    display: flex;
    width: 100vw;
    height: 200px;
    background-color: grey;
    margin: 100px auto auto auto ;
    animation: progress_load 4s linear 1 alternate;
   }

body {
    background-color: #7b9adc;
}
@keyframes progress_load {
    0% {
        transform: translateX(-100%);

            }
    50% {
        transform: translateX(-70%);
        border: red solid 10px;
               }
    75% {
        transform: translateX(-50%);
        border: yellow solid 15px;
            }

    100% {
        transform: translateX(-10%);
        border: darkgreen solid 20px;
    }
}
.loading{
        font-size: 100px;
   }

