.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.72fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    'header header'
    'content spam'
    'footer footer'
    ;
}

header{
    background: #8D8484;
    grid-area:  header;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background: #BDBDBD;
    grid-area:  footer;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    grid-area:  content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'content1'
    'content2'
    'content3';
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.content1{
    background: #776969;
    grid-area:  content1;
    display: flex;
    align-items: center;
    justify-content: center
}
.content2{
    background: #643030;
    grid-area:  content2;
    display: flex;
    align-items: center;
    justify-content: center
}
.content3{
    background: #441818;
    grid-area:  content3;
    display: flex;
    align-items: center;
    justify-content: center
}

.spam{
    grid-area:  spam;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'spam_top'
    'spam_bottom';
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.spam_top{
    background: #937575;
    grid-area:  spam_top;
    display: flex;
    align-items: center;
    justify-content: center
}
.spam_bottom{
    background: #644C4C;
    grid-area:  spam_bottom;
    display: flex;
    align-items: center;
    justify-content: center
}