@media screen and (min-width: 769px) and (max-width: 1279px) {

    .items{
        width: 720px;
        align-items: start;
        gap: 24px;
        flex-wrap:  wrap;
    }
    .item{
        width: 348px;
        margin-top: 40px;
    }

}
