.pink_box{
    width: 300px;
    height: 300px;
    background-color: pink;
    margin: 100px auto auto auto ;
    animation: pinkbox 3s linear 3 alternate;
}
.blue_box{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 100px auto auto auto ;
    animation: bluebox 3s linear 3 alternate;
}
body {
    background-color: #7b9adc;
}
@keyframes pinkbox {
    0% {
        background-color: pink;
        transform-style: preserve-3d;
    }
    50% {
        background-color: lightblue;
        border-radius: 30%;
        border: blue solid 30px;
        align-items: flex-start;
        transform: rotate(36deg) skew(55deg);
    }
    70% {
        transform: rotate(32deg);
    }
    90% {
        background-color: blue;
        transform: rotate(39deg);
    }
    100% {
        background-color: pink;
            }
}
@keyframes bluebox {
    0% {
        background-color: blue;
        transform-style: preserve-3d;
    }
    50% {
        background-color: lightblue;
        border-radius: 30%;
        border: pink solid 30px;
        align-items: flex-start;
        transform: rotate(36deg) skew(55deg);
    }
    70% {
        transform: rotate(32deg);
    }
    90% {
        background-color: pink;
        transform: rotate(39deg);
    }
    100% {
        background-color: blue;
            }
}